<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first to do app</title>
</head>
<body>

    <table border="1">
        <thead>
            
            <tr>
                {% for key, value in to_dos.items() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
           
        </thead>
        <tbody>
            
            <tr>
                {% for key, value in to_dos.items() %}
                
                <td>
                    <h4>To Do:</h4>

                    {% for rvalue in  value %}
                           
                            {{ rvalue}} <br>
                    
                    {% endfor %}
                    <br>
                </td>
                {% endfor %}
            </tr>
<!--  -->
            <tr>
                {% for key, value in total_outgoings.items() %}
                
                <td>
                    <h4>Scheduled Outgoing Total:</h4>
                    {{value}} <br>
                    <br>
                </td>
                {% endfor %}
            </tr>
            
            <tr>
                {% for key, value in outgoing.items() %}
                
                <td>
                    <h4>Scheduled Outgoings: </h4>

                    {% for rvalue in  value %}
                           
                            {{ rvalue}} <br>
                    
                    {% endfor %}
                    <br>
                </td>
                {% endfor %}
            </tr>
                      
        </tbody>
    </table>
</body>
</html>