<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary Display</title>
</head>
<body>
    <h1>Dictionary Contents</h1>
    <table border="1">
        <thead>
            
            <tr>
                {% for key, value in data.items() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
           
        </thead>
        <tbody>
            
            <tr>
                {% for key, value in data.items() %}
                
                <td>
                    <h3>To Do:</h3>

                    {% for rvalue in  value %}
                           
                            {{ rvalue}} <br>
                    
                    {% endfor %}
                    <br>
                </td>
                {% endfor %}
            </tr>

            <tr>
                {% for key, value in outgoing.items() %}
                
                <td>
                    <h3>Outgoing:</h3>
                    {{value}} <br>


                    <br>
                </td>
                {% endfor %}
            </tr>        
                      
        </tbody>
    </table>
</body>
</html>