<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Currently Outstanding Tasks>/h1>
    <table border="1">
        <thead>    
            <tr>

                <th>Task</th>
                <th>Created</th>
                <th>Due</th>
                <th>Status</th>

            </tr>            
        </thead>

        <tbody>

            {% for key, value in current_todos.items() %}
            <tr>
                <td>{{ value.name }}</td>
                <td>{{ value.created }}</td>
                <td>{{ value.due }}</td>
                <td>{{ value.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
                    
            